  .card {
            background: rgb(28, 81, 161);
        }
        .chapter-list a {
            color: rgb(229, 229, 252);
        }
        .chapter-list a:hover {
            text-decoration: underline;
        }
