<div class="col">
  <div class="card shadow-sm">
            <img src="https://fr.web.img5.acsta.net/pictures/16/06/06/09/31/004115.jpg" alt="" class="img-fluid">
            <div class="card-body">
              <p class="card-title">Aladdin</p>
              <p class="card-text">Lanzamiento: 25/10/1992</p>
              <p class="card-text">Calificacion:2 🌟🌟</p>
              <p class="card-text">Genero: Fantasia</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Detail</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
</div>
