 <footer>
            <div class="container-fluid text-white bg-dark mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="border-title pt-3"> Search</h5>
                        <ul class="navbar-nav">
                            <li><a class="nav-link" href="#">Personajes</a></li>
                            <li><a class="nav-link" href="#">Peliculas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mt-3 mb-5  text-center">&copy; Copyright © Disney 2024</p>
                    </div>
                </div>
            </div>
        </footer>
